### Шаг 1. Импортируем библиотеки Pandas и Requests

In [26]:
import pandas as pd
import requests

### Шаг 2. Выполним запросы к API

Запросим данные за период с 2023-03-01 по 2023-09-01:

* по визитам:

In [144]:
r_vis = requests.get('https://data-charts-api.hexlet.app/visits?begin=2023-03-01&end=2023-09-01')

In [145]:
df_vis = r_vis.json()

In [146]:
visits = pd.DataFrame(df_vis)

In [147]:
visits.head() # получим первые 5 строк таблицы

,datetime,platform,user_agent,visit_id
0,"Wed, 01 Mar 2023 23:17:37 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1de9ea66-70d3-4a1f-8735-df5ef7697fb9
1,"Sat, 04 Mar 2023 03:23:34 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1de9ea66-70d3-4a1f-8735-df5ef7697fb9
2,"Wed, 01 Mar 2023 12:57:13 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,f149f542-e935-4870-9734-6b4501eaf614
3,"Wed, 01 Mar 2023 13:07:19 GMT",web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1
4,"Sun, 05 Mar 2023 22:02:39 GMT",web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1

In [173]:
print(visits) # получим все строки с учетом периода с 2023-03-01 по 2023-09-01

                             datetime platform  \
0       Wed, 01 Mar 2023 23:17:37 GMT      web
1       Sat, 04 Mar 2023 03:23:34 GMT      web
2       Wed, 01 Mar 2023 12:57:13 GMT      web
3       Wed, 01 Mar 2023 13:07:19 GMT      web
4       Sun, 05 Mar 2023 22:02:39 GMT      web
...                               ...      ...
308866  Sun, 27 Aug 2023 17:38:56 GMT      web
308867  Sun, 27 Aug 2023 03:54:11 GMT      web
308868  Tue, 29 Aug 2023 00:33:03 GMT      web
308869  Wed, 30 Aug 2023 07:46:24 GMT      web
308870  Thu, 31 Aug 2023 23:02:00 GMT      web

                                               user_agent  \
0       Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1       Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
2       Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3       Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...
4       Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...
...                                                   ...
308866  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...
308867  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
308868  Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...
308869  Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...
308870  Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:1...

                                    visit_id
0       1de9ea66-70d3-4a1f-8735-df5ef7697fb9
1       1de9ea66-70d3-4a1f-8735-df5ef7697fb9
2       f149f542-e935-4870-9734-6b4501eaf614
3       08f0ebd4-950c-4dd9-8e97-b5bdf073eed1
4       08f0ebd4-950c-4dd9-8e97-b5bdf073eed1
...                                      ...
308866  553eb09f-8809-429f-8f01-876f18305c96
308867  cc664f35-6248-4953-81fd-1661cb91485c
308868  99f32105-05b7-424e-ab3c-b3630e892d21
308869  99f32105-05b7-424e-ab3c-b3630e892d21
308870  8d865a57-5786-4b38-9dc6-d95ca3877135

[308871 rows x 4 columns]

* по регистрациям:

In [271]:
r_reg = requests.get('https://data-charts-api.hexlet.app/registrations?begin=2023-03-01&end=2023-09-01')

In [272]:
df_reg = r_reg.json()

In [273]:
registrations = pd.DataFrame(df_reg)

In [274]:
registrations.head() # получим первые 5 строк таблицы

,datetime,email,platform,registration_type,user_id
0,"Wed, 01 Mar 2023 13:21:20 GMT",jlane@example.net,web,google,8dd9b457-f02e-4cff-a66a-d70838849f04
1,"Wed, 01 Mar 2023 01:14:06 GMT",dyerkenneth@example.net,web,yandex,52e2b626-c6fa-4919-a67d-09adb33accdc
2,"Wed, 01 Mar 2023 19:47:32 GMT",kwade@example.com,web,yandex,bab974bd-2176-4497-acb2-4bc61ca93f5c
3,"Wed, 01 Mar 2023 19:19:26 GMT",fisherbrian@example.net,web,email,b517892a-15c0-4320-9f33-e65db1110395
4,"Wed, 01 Mar 2023 02:30:54 GMT",johngomez@example.org,web,google,bd38427f-7120-4c14-a384-889a2335108b

In [275]:
print(registrations) # получим все строки с учетом периода с 2023-03-01 по 2023-09-01

                            datetime                         email platform  \
0      Wed, 01 Mar 2023 13:21:20 GMT             jlane@example.net      web
1      Wed, 01 Mar 2023 01:14:06 GMT       dyerkenneth@example.net      web
2      Wed, 01 Mar 2023 19:47:32 GMT             kwade@example.com      web
3      Wed, 01 Mar 2023 19:19:26 GMT       fisherbrian@example.net      web
4      Wed, 01 Mar 2023 02:30:54 GMT         johngomez@example.org      web
...                              ...                           ...      ...
28192  Thu, 31 Aug 2023 20:51:43 GMT       lunazachary@example.com      ios
28193  Thu, 31 Aug 2023 23:07:32 GMT        amyramirez@example.org      ios
28194  Thu, 31 Aug 2023 14:56:54 GMT         webermark@example.org      ios
28195  Thu, 31 Aug 2023 22:52:45 GMT  alexandermichael@example.com      ios
28196  Thu, 31 Aug 2023 20:54:05 GMT            jose04@example.net      ios

      registration_type                               user_id
0                google  8dd9b457-f02e-4cff-a66a-d70838849f04
1                yandex  52e2b626-c6fa-4919-a67d-09adb33accdc
2                yandex  bab974bd-2176-4497-acb2-4bc61ca93f5c
3                 email  b517892a-15c0-4320-9f33-e65db1110395
4                google  bd38427f-7120-4c14-a384-889a2335108b
...                 ...                                   ...
28192             email  7065467a-39d2-46c7-9041-ed7fbc8d801f
28193             apple  93a04829-5ab4-48b5-abf9-8e267150c512
28194             apple  6ff0e3b5-af42-42ba-ae6e-395051d79360
28195             email  6d8b00e7-4696-43b1-8d79-91f2b7bef9cd
28196             apple  36af6ad6-0c91-4474-8466-ffc1907bfdd6

[28197 rows x 5 columns]

Проверим, уникальны ли user_id в переменной registrations:

In [276]:
print(registrations['user_id'].agg(['count', 'nunique']))

count      28197
nunique    28197
Name: user_id, dtype: int64

### Шаг 3. Расчет метрик

Отфильтруем данные по визитам, выбрав значения "bot" по колонке "user-agent":

In [192]:
filtered_visits = visits[visits['user_agent'].str.contains("bot")==True]

In [223]:
filtered_visits.head(7000)

,datetime,platform,user_agent,visit_id
611,"Sun, 05 Mar 2023 18:34:29 GMT",bot,AdsBot-Google (+http://www.google.com/adsbot.h...,3c7fd22a-67a1-48fd-b674-fa214431ab1f
786,"Sun, 05 Mar 2023 20:02:13 GMT",bot,AdsBot-Google (+http://www.google.com/adsbot.h...,63b086ee-773f-4b9b-9047-e0a4b0173f0a
831,"Sat, 22 Apr 2023 03:10:00 GMT",bot,AdsBot-Google (+http://www.google.com/adsbot.h...,e7997a03-787c-4d4a-94d6-27074d3c5145
13362,"Sat, 04 Mar 2023 04:11:19 GMT",bot,Mozilla/5.0 (compatible; Googlebot/2.1; +http:...,fa40ce72-248f-4f0e-8ef3-9fd135fa34de
13931,"Sat, 04 Mar 2023 03:29:15 GMT",bot,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,e15cdf34-81ea-4db9-afe1-6111d1dfd774
...,...,...,...,...
300838,"Thu, 24 Aug 2023 21:44:39 GMT",bot,Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Bu...,4ce9f524-325d-4edc-b827-231eaf2ac265
300839,"Thu, 24 Aug 2023 10:12:40 GMT",bot,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,c04c80f2-63e6-4469-95e0-118ed3cdd391
300840,"Thu, 24 Aug 2023 01:58:09 GMT",bot,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,bf09292d-16bc-4d44-9ef1-c95defea577e
300841,"Thu, 24 Aug 2023 21:36:10 GMT",bot,Mozilla/5.0 (compatible; YandexBot/3.0; +http:...,49d501ea-e85b-46fe-9c66-6c86de51ef01
300842,"Thu, 24 Aug 2023 14:32:10 GMT",bot,Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Bu...,cdc09c5d-758e-4d47-a611-dd6b75e889ed

Исключим из переменной visits строки со значением "bot" по полю "user_agent":

In [255]:
visits_without_bots = visits[visits['user_agent'].str.contains("bot")==False]

In [256]:
visits_without_bots.head(350000)

,datetime,platform,user_agent,visit_id
0,"Wed, 01 Mar 2023 23:17:37 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1de9ea66-70d3-4a1f-8735-df5ef7697fb9
1,"Sat, 04 Mar 2023 03:23:34 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1de9ea66-70d3-4a1f-8735-df5ef7697fb9
2,"Wed, 01 Mar 2023 12:57:13 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,f149f542-e935-4870-9734-6b4501eaf614
3,"Wed, 01 Mar 2023 13:07:19 GMT",web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1
4,"Sun, 05 Mar 2023 22:02:39 GMT",web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1
...,...,...,...,...
308866,"Sun, 27 Aug 2023 17:38:56 GMT",web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,553eb09f-8809-429f-8f01-876f18305c96
308867,"Sun, 27 Aug 2023 03:54:11 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,cc664f35-6248-4953-81fd-1661cb91485c
308868,"Tue, 29 Aug 2023 00:33:03 GMT",web,Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...,99f32105-05b7-424e-ab3c-b3630e892d21
308869,"Wed, 30 Aug 2023 07:46:24 GMT",web,Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...,99f32105-05b7-424e-ab3c-b3630e892d21
308870,"Thu, 31 Aug 2023 23:02:00 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:1...,8d865a57-5786-4b38-9dc6-d95ca3877135

Определим количество уникальных визитов:

In [257]:
count_unique_visits = visits_without_bots.visit_id.nunique(dropna=True)
print(unique_visits)

        date_group platform  \
201364  2023-05-31      web
201759  2023-05-31  android
200979  2023-05-31      web
201472  2023-05-31      web
201384  2023-05-31      web
...            ...      ...
203914  2023-06-02      web
204316  2023-06-02      ios
204318  2023-06-02      ios
203629  2023-06-02      web
203421  2023-06-02      web

                                               user_agent  \
201364  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
201759  Mozilla/5.0 (Android 13; Mobile; rv:109.0) Gec...
200979  Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
201472  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
201384  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
...                                                   ...
203914  Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:1...
204316  Mozilla/5.0 (iPhone; CPU iPhone OS 16_1_1 like...
204318  Mozilla/5.0 (iPhone; CPU iPhone OS 15_8 like M...
203629  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
203421  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...

                                    visit_id
201364  0661d4e6-84b3-4d58-8a22-a44d3f9972cc
201759  38e257d9-4003-4b8b-89db-47499589bd16
200979  ed65ce9f-6c27-4c0d-8c93-d079422fc566
201472  68c78afc-9335-4a4c-a51e-ea09c1f6f7bd
201384  0de9205c-ef09-4d62-b0c8-2a0c43684b1c
...                                      ...
203914  ad77e1e0-3a95-45e4-9183-17cd0d7fa68f
204316  d538a612-26eb-4ca9-b449-eb99eb61a44c
204318  ce6ffe37-fdd8-4dc5-a404-fcb73197158c
203629  d627f0bc-6fdc-4902-ac23-959095968e42
203421  fce93e85-64d0-405b-a41c-fdff1c6221d2

[163132 rows x 4 columns]

Оставим уникальные 'visit_id', отобрав только последний визит для каждого уникального visit_id:

In [258]:
unique_visits = visits_without_bots.sort_values(by='datetime', ascending=False).drop_duplicates(subset = 'visit_id')

In [259]:
unique_visits.head(164000)

,datetime,platform,user_agent,visit_id
201364,"Wed, 31 May 2023 23:59:13 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0661d4e6-84b3-4d58-8a22-a44d3f9972cc
201759,"Wed, 31 May 2023 23:59:08 GMT",android,Mozilla/5.0 (Android 13; Mobile; rv:109.0) Gec...,38e257d9-4003-4b8b-89db-47499589bd16
200979,"Wed, 31 May 2023 23:57:02 GMT",web,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,ed65ce9f-6c27-4c0d-8c93-d079422fc566
201472,"Wed, 31 May 2023 23:54:35 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,68c78afc-9335-4a4c-a51e-ea09c1f6f7bd
201384,"Wed, 31 May 2023 23:54:12 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0de9205c-ef09-4d62-b0c8-2a0c43684b1c
...,...,...,...,...
203914,"Fri, 02 Jun 2023 00:45:16 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:1...,ad77e1e0-3a95-45e4-9183-17cd0d7fa68f
204316,"Fri, 02 Jun 2023 00:17:17 GMT",ios,Mozilla/5.0 (iPhone; CPU iPhone OS 16_1_1 like...,d538a612-26eb-4ca9-b449-eb99eb61a44c
204318,"Fri, 02 Jun 2023 00:14:32 GMT",ios,Mozilla/5.0 (iPhone; CPU iPhone OS 15_8 like M...,ce6ffe37-fdd8-4dc5-a404-fcb73197158c
203629,"Fri, 02 Jun 2023 00:07:42 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,d627f0bc-6fdc-4902-ac23-959095968e42
203421,"Fri, 02 Jun 2023 00:05:18 GMT",web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,fce93e85-64d0-405b-a41c-fdff1c6221d2

In [262]:
# конвертируем значения поля "datetime" таблицы визитов в формат даты :
unique_visits['datetime'] = pd.to_datetime(visits['datetime']).dt.date
unique_visits.head(164000)

,datetime,platform,user_agent,visit_id
201364,2023-05-31,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0661d4e6-84b3-4d58-8a22-a44d3f9972cc
201759,2023-05-31,android,Mozilla/5.0 (Android 13; Mobile; rv:109.0) Gec...,38e257d9-4003-4b8b-89db-47499589bd16
200979,2023-05-31,web,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,ed65ce9f-6c27-4c0d-8c93-d079422fc566
201472,2023-05-31,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,68c78afc-9335-4a4c-a51e-ea09c1f6f7bd
201384,2023-05-31,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0de9205c-ef09-4d62-b0c8-2a0c43684b1c
...,...,...,...,...
203914,2023-06-02,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:1...,ad77e1e0-3a95-45e4-9183-17cd0d7fa68f
204316,2023-06-02,ios,Mozilla/5.0 (iPhone; CPU iPhone OS 16_1_1 like...,d538a612-26eb-4ca9-b449-eb99eb61a44c
204318,2023-06-02,ios,Mozilla/5.0 (iPhone; CPU iPhone OS 15_8 like M...,ce6ffe37-fdd8-4dc5-a404-fcb73197158c
203629,2023-06-02,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,d627f0bc-6fdc-4902-ac23-959095968e42
203421,2023-06-02,web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,fce93e85-64d0-405b-a41c-fdff1c6221d2

In [263]:
# переименуем поле "datetime" в поле "date_group":
unique_visits.columns = ['date_group', 'platform', 'user_agent', 'visit_id']
unique_visits.head(164000)

,date_group,platform,user_agent,visit_id
201364,2023-05-31,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0661d4e6-84b3-4d58-8a22-a44d3f9972cc
201759,2023-05-31,android,Mozilla/5.0 (Android 13; Mobile; rv:109.0) Gec...,38e257d9-4003-4b8b-89db-47499589bd16
200979,2023-05-31,web,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,ed65ce9f-6c27-4c0d-8c93-d079422fc566
201472,2023-05-31,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,68c78afc-9335-4a4c-a51e-ea09c1f6f7bd
201384,2023-05-31,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0de9205c-ef09-4d62-b0c8-2a0c43684b1c
...,...,...,...,...
203914,2023-06-02,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:1...,ad77e1e0-3a95-45e4-9183-17cd0d7fa68f
204316,2023-06-02,ios,Mozilla/5.0 (iPhone; CPU iPhone OS 16_1_1 like...,d538a612-26eb-4ca9-b449-eb99eb61a44c
204318,2023-06-02,ios,Mozilla/5.0 (iPhone; CPU iPhone OS 15_8 like M...,ce6ffe37-fdd8-4dc5-a404-fcb73197158c
203629,2023-06-02,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,d627f0bc-6fdc-4902-ac23-959095968e42
203421,2023-06-02,web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,fce93e85-64d0-405b-a41c-fdff1c6221d2

Сгруппируем данные по полям "date_group", "platform", отсортировав по полю "date_group" от ранних дат к поздним:

In [295]:
unique_vis = unique_visits.sort_values(by='date_group').groupby(['date_group', 'platform']).agg({'visit_id': ['count']})
unique_vis.head(600)

                    visit_id
                       count
date_group platform
2023-03-01 android       264
           ios            78
           web          1958
2023-03-02 android       106
           ios           103
...                      ...
2023-08-30 ios            40
           web           774
2023-08-31 android        80
           ios            16
           web           400

[552 rows x 1 columns]

In [277]:
# конвертируем значения поля "datetime" в форматы даты в данных по регистрациям:
registrations['datetime'] = pd.to_datetime(registrations['datetime']).dt.date
# переименуем поле "datetime" в поле "date_group":
registrations.columns = ['date_group', 'email', 'platform', 'registration_type', '']
registrations.head(28500)

,date_group,email,platform,registration_type,user_id
0,2023-03-01,jlane@example.net,web,google,8dd9b457-f02e-4cff-a66a-d70838849f04
1,2023-03-01,dyerkenneth@example.net,web,yandex,52e2b626-c6fa-4919-a67d-09adb33accdc
2,2023-03-01,kwade@example.com,web,yandex,bab974bd-2176-4497-acb2-4bc61ca93f5c
3,2023-03-01,fisherbrian@example.net,web,email,b517892a-15c0-4320-9f33-e65db1110395
4,2023-03-01,johngomez@example.org,web,google,bd38427f-7120-4c14-a384-889a2335108b
...,...,...,...,...,...
28192,2023-08-31,lunazachary@example.com,ios,email,7065467a-39d2-46c7-9041-ed7fbc8d801f
28193,2023-08-31,amyramirez@example.org,ios,apple,93a04829-5ab4-48b5-abf9-8e267150c512
28194,2023-08-31,webermark@example.org,ios,apple,6ff0e3b5-af42-42ba-ae6e-395051d79360
28195,2023-08-31,alexandermichael@example.com,ios,email,6d8b00e7-4696-43b1-8d79-91f2b7bef9cd
28196,2023-08-31,jose04@example.net,ios,apple,36af6ad6-0c91-4474-8466-ffc1907bfdd6

Сгруппируем данные по полям "date_group", "platform", отсортировав по полю "date_group" от ранних дат к поздним:

In [294]:
regs = registrations.sort_values(by='date_group').groupby(['date_group', 'platform']).agg({'user_id': ['count']})
regs.head(600)

                    user_id
                      count
date_group platform
2023-03-01 android      218
           ios           67
           web           78
2023-03-02 android       91
           ios           76
...                     ...
2023-08-30 ios           32
           web           18
2023-08-31 android       67
           ios           13
           web           23

[552 rows x 1 columns]

Объединим датафреймы визитов и регистраций в один:

In [296]:
df_merged = pd.merge(
    unique_vis, regs,
    left_on=['date_group', 'platform'],
    right_on=['date_group', 'platform'])

df_merged.head(1000)

                    visit_id user_id
                       count   count
date_group platform
2023-03-01 android       264     218
           ios            78      67
           web          1958      78
2023-03-02 android       106      91
           ios           103      76
...                      ...     ...
2023-08-30 ios            40      32
           web           774      18
2023-08-31 android        80      67
           ios            16      13
           web           400      23

[552 rows x 2 columns]

Рассчитаем конверсию сайта (сколько посетителей совершили целевое действие, т.е. зарегистрировались на сайте):

In [305]:
df_merged['conversion'] = (df_merged[('user_id', 'count')] / df_merged[('visit_id', 'count')] * 100).round(2)

In [306]:
df_merged.head(1000)

                    visit_id user_id conversion
                       count   count
date_group platform
2023-03-01 android       264     218      82.58
           ios            78      67      85.90
           web          1958      78       3.98
2023-03-02 android       106      91      85.85
           ios           103      76      73.79
...                      ...     ...        ...
2023-08-30 ios            40      32      80.00
           web           774      18       2.33
2023-08-31 android        80      67      83.75
           ios            16      13      81.25
           web           400      23       5.75

[552 rows x 3 columns]

Сохраним датафрейм с расчетом конверсии в формате JSON:

In [317]:
df_json = df_merged.to_json('conversion.json', orient='columns')
# df_merged.to_json('conversion.json')