### Шаг 1. Установим библиотеки Pandas и Requests ###

In [26]:
import pandas as pd
import requests

### Шаг 2. Запросы к API ###

Запросим данные за период с 2023-03-01 по 2023-09-01:

* по визитам:

In [35]:
visits = requests.get('https://data-charts-api.hexlet.app/visits?begin=2023-03-01&end=2023-09-01')

In [36]:
df_vis = visits.json()

In [37]:
df_vis_pd = pd.DataFrame(df_vis)

In [39]:
df_vis_pd.head() # получим первые 5 строк таблицы

,datetime,platform,user_agent,visit_id
0,"Wed, 01 Mar 2023 23:17:37 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1de9ea66-70d3-4a1f-8735-df5ef7697fb9
1,"Sat, 04 Mar 2023 03:23:34 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1de9ea66-70d3-4a1f-8735-df5ef7697fb9
2,"Wed, 01 Mar 2023 12:57:13 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,f149f542-e935-4870-9734-6b4501eaf614
3,"Wed, 01 Mar 2023 13:07:19 GMT",web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1
4,"Sun, 05 Mar 2023 22:02:39 GMT",web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1

In [38]:
print(df_vis_pd) # получим все строки с учетом периода с 2023-03-01 по 2023-09-01

                             datetime platform  \
0       Wed, 01 Mar 2023 23:17:37 GMT      web
1       Sat, 04 Mar 2023 03:23:34 GMT      web
2       Wed, 01 Mar 2023 12:57:13 GMT      web
3       Wed, 01 Mar 2023 13:07:19 GMT      web
4       Sun, 05 Mar 2023 22:02:39 GMT      web
...                               ...      ...
308866  Sun, 27 Aug 2023 17:38:56 GMT      web
308867  Sun, 27 Aug 2023 03:54:11 GMT      web
308868  Tue, 29 Aug 2023 00:33:03 GMT      web
308869  Wed, 30 Aug 2023 07:46:24 GMT      web
308870  Thu, 31 Aug 2023 23:02:00 GMT      web

                                               user_agent  \
0       Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1       Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
2       Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3       Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...
4       Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...
...                                                   ...
308866  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...
308867  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
308868  Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...
308869  Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...
308870  Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:1...

                                    visit_id
0       1de9ea66-70d3-4a1f-8735-df5ef7697fb9
1       1de9ea66-70d3-4a1f-8735-df5ef7697fb9
2       f149f542-e935-4870-9734-6b4501eaf614
3       08f0ebd4-950c-4dd9-8e97-b5bdf073eed1
4       08f0ebd4-950c-4dd9-8e97-b5bdf073eed1
...                                      ...
308866  553eb09f-8809-429f-8f01-876f18305c96
308867  cc664f35-6248-4953-81fd-1661cb91485c
308868  99f32105-05b7-424e-ab3c-b3630e892d21
308869  99f32105-05b7-424e-ab3c-b3630e892d21
308870  8d865a57-5786-4b38-9dc6-d95ca3877135

[308871 rows x 4 columns]

In [33]:
response = requests.get('https://data-charts-api.hexlet.app/visits?begin=2023-03-01&end=2023-09-01')

* по регистрациям:

In [41]:
registrations = requests.get('https://data-charts-api.hexlet.app/registrations?begin=2023-03-01&end=2023-09-01')

In [42]:
df_reg = registrations.json()

In [43]:
df_reg_pd = pd.DataFrame(df_reg)

In [44]:
df_reg_pd.head() # получим первые 5 строк таблицы

,datetime,email,platform,registration_type,user_id
0,"Wed, 01 Mar 2023 13:21:20 GMT",jlane@example.net,web,google,8dd9b457-f02e-4cff-a66a-d70838849f04
1,"Wed, 01 Mar 2023 01:14:06 GMT",dyerkenneth@example.net,web,yandex,52e2b626-c6fa-4919-a67d-09adb33accdc
2,"Wed, 01 Mar 2023 19:47:32 GMT",kwade@example.com,web,yandex,bab974bd-2176-4497-acb2-4bc61ca93f5c
3,"Wed, 01 Mar 2023 19:19:26 GMT",fisherbrian@example.net,web,email,b517892a-15c0-4320-9f33-e65db1110395
4,"Wed, 01 Mar 2023 02:30:54 GMT",johngomez@example.org,web,google,bd38427f-7120-4c14-a384-889a2335108b

In [45]:
print(df_reg_pd) # получим все строки с учетом периода с 2023-03-01 по 2023-09-01

                            datetime                         email platform  \
0      Wed, 01 Mar 2023 13:21:20 GMT             jlane@example.net      web
1      Wed, 01 Mar 2023 01:14:06 GMT       dyerkenneth@example.net      web
2      Wed, 01 Mar 2023 19:47:32 GMT             kwade@example.com      web
3      Wed, 01 Mar 2023 19:19:26 GMT       fisherbrian@example.net      web
4      Wed, 01 Mar 2023 02:30:54 GMT         johngomez@example.org      web
...                              ...                           ...      ...
28192  Thu, 31 Aug 2023 20:51:43 GMT       lunazachary@example.com      ios
28193  Thu, 31 Aug 2023 23:07:32 GMT        amyramirez@example.org      ios
28194  Thu, 31 Aug 2023 14:56:54 GMT         webermark@example.org      ios
28195  Thu, 31 Aug 2023 22:52:45 GMT  alexandermichael@example.com      ios
28196  Thu, 31 Aug 2023 20:54:05 GMT            jose04@example.net      ios

      registration_type                               user_id
0                google  8dd9b457-f02e-4cff-a66a-d70838849f04
1                yandex  52e2b626-c6fa-4919-a67d-09adb33accdc
2                yandex  bab974bd-2176-4497-acb2-4bc61ca93f5c
3                 email  b517892a-15c0-4320-9f33-e65db1110395
4                google  bd38427f-7120-4c14-a384-889a2335108b
...                 ...                                   ...
28192             email  7065467a-39d2-46c7-9041-ed7fbc8d801f
28193             apple  93a04829-5ab4-48b5-abf9-8e267150c512
28194             apple  6ff0e3b5-af42-42ba-ae6e-395051d79360
28195             email  6d8b00e7-4696-43b1-8d79-91f2b7bef9cd
28196             apple  36af6ad6-0c91-4474-8466-ffc1907bfdd6

[28197 rows x 5 columns]